<div class="container mt-3" bg-outline-dark >
    <h2>Introduction</h2>
    <img src="~/Images/background1.jpg" class="img-thumbnail" alt="background2" width="1920" height="600">
    <p>

        Welcome to Bite and More, a food company dedicated to bringing you the best quality and delicious food options. We are passionate about food and believe that every meal should be a memorable experience. Our mission is to create delicious and healthy food that everyone can enjoy.

        At Bite and More, we source our ingredients from local farmers and suppliers who share our commitment to quality and sustainability. We believe that using fresh and locally sourced ingredients is not only better for the environment, but it also results in better tasting food.

        Our menu is carefully crafted to cater to different tastes and dietary requirements. We offer a variety of options for vegetarians, vegans, and those who are gluten-free or have other dietary restrictions. We take great care in preparing our food and ensure that every dish is made with the freshest ingredients and cooked to perfection.

        In addition to our delicious food, we also offer catering services for events and functions. Whether it's a small gathering or a large event, we can provide a menu that suits your needs and budget. Our team is experienced in catering for weddings, corporate events, and private parties.

        At Bite and More, we are committed to providing excellent customer service. Our friendly and knowledgeable staff are always happy to help and answer any questions you may have. We want our customers to have a great experience every time they visit us.

        Thank you for choosing Bite and More. We look forward to serving you and providing you with the best food and service possible.
    </p>
    
</div>