
<div class="container mt-3">
   
    <div class="mt-4 p-5 bg-dark-50 text-black-50 rounded">
        <h1>Our Story</h1>
        <img src="~/Images/background2.jpg" class="img-thumbnail" alt="background2" width="1920" height="600">
        <p>
            Since 1968, a young chef named Sarah who had a passion for creating delicious bites and toppas with new ingredients and flavors. It soon came up with unique and tasty snacks. Her friends and family were always raving about her creations and encouraged her to start her own business. Then here came her small takeaway to sell bites and toppas.

            Sarah took the leap and opened her own food company in the 1970s. She knew that her bites were special and wanted a name that reflected her bold and adventurous approach to cooking. That's when she came up with "Bites and More".

            The name was a hit and soon Sarah's company became known for its delicious and inventive snacks. She started small, selling her bites at local farmers' markets and events, but it wasn't long before her business grew and she opened her own storefront.

            Bite and More is a thriving food company known for its tasty bites, patties, and toppas. today in New Zealand. Sarah still experiments with new flavors and ingredients, and her customers can't get enough of her creations. Whether you're looking for a quick snack or a satisfying meal, Bites and More has something for everyone.

        </p>
    </div>
</div>
